.Paragrafo{
    width: 815px;
    height: 232px;
    left: 404px;
    top: 231px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}